<div class="title well well-small">
  <h4>学習プランナー</h4>
  <%= link_to "新規プラン", new_study_plan_path, class: "btn btn-sm btn-success btn-inline" %>
</div>

<% if @current_study_plan.present? %>
  <h2>Current study Plan</h2>
  <div>
    <ul class="studies">
      <% @current_study_plan.studies.each do |study| %>
        <li class="study">
          <%= study.date %> - <%= link_to study.recipe, recipe_path(study.recipe) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% @study_plans.each do |study_plan| %>
  <li class="study-plan">
    <%= link_to study_plan, study_plan_path(study_plan) %>
  </li>
<% end %>
