@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  margin-top: 2rem;
  .navbar-brand{
    font-size: 1.6rem;
    border-right: #e0e0e0 solid .1rem;
    display: flex;
    justify-content: center;
  }
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .btn-inline{
    align-self: auto;
  }
}
.caption{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  h3{
    margin: 0;
  }
  p{
    margin: 0;
  }
}

.glyphicon.logo{
  font-size: 2rem;
  margin-right: 1rem;
}
.breadcrumb{
  margin: 0;
}